{% extends "catalog/base.html" %}
{% block content %}
    <style>
               body{
            background-image: url("/image/camera.jpeg");
            background-position: center;
            margin: 0;
            padding: 0;
             color: white;
        }
    </style>
    <h1>Name: {{ director.first_name }} {{ director.last_name }}</h1>

        <p><strong>Date of Birth:</strong> {{ director.date_of_birth }}</p>
        <p><strong>Date of Death:</strong> {{ director.date_of_death }}</p>
    <div>
        {% if director.director_photo %}
            <img src="{{ director.director_photo.url }}">
        {% endif %}
    </div>
    <div style="margin-left:20px;margin-top:20px">
    <hr>
        <p><strong><a href="{%  url 'director_list' %} "> Return to Director List </a></strong>
    </p>
    </div>
{% endblock %}
