{% extends "catalog/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
    <style>
               body{
            background-image: url("/image/camera.jpeg");
            background-position: center;
            margin: 0;
            padding: 0;
             color: white;
        }
    </style>
{% block content %}
    {% if perms.catalog.create_movie or perms.catalog.edit_movie %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Submit"/>
        </form>
    {% else %}
        You do not have permission to access this feature
        <a href="{% url 'index' %}">Home</a>
    {% endif %}
{% endblock %}