{% extends "catalog/base.html" %}
{% block content %}
        <style>
               body{
            background-image: url("image/camera.jpeg");
            background-position: center;
            margin: 0;
            padding: 0;
             color: white;
        }
    </style>
    <h1>All Reviews</h1>
        {% if moviereview_list %}
            <ul>
                {% for movie in moviereview_list %}
                    <li>
                       <a href="{{ movie.get_absolute_url }}"><p>{{ movie.caption }}<p></a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no movies reviewed yet.</p>
        {% endif %}
{% endblock %}
