{% extends "catalog/base.html" %}
{% block content %}
        <style>
               body{
            background-image: url("image/camera.jpeg");
            background-position: center;
            margin: 0;
            padding: 0;
             color: white;
        }
    </style>
    {% if perms.catalog.review_delete %}
        <h1>Delete Movie Review {{ moviereview.caption }}</h1>
        <form method="Post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
            <a href="{% url 'index' pk=moviereview.id %} ">Cancel</a>
        </form>
    {% else %}
        You do not have permission to access this feature
        <a href="{% url 'index' %}">Home</a>
    {% endif %}
{% endblock %}
