{% extends "catalog/base.html" %}
{% block content %}
        <style>
               body{
            background-image: url("/image/camera.jpeg");
            background-position: center;
            margin: 0;
            padding: 0;
             color: white;
        }
    </style>
    <h1>Movie List</h1>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

        {% endfor %}
    {% endif %}
    {% if movie_list %}
        <table class="table table-bordered">
            {% for movie in movie_list %}
                <tr class="table-secondary">
                    <td><a href="{{ movie.get_absolute_url }}">{{ movie.title }} by {{ movie.director }}</a></td>

                    {% if user.is_superuser %}
                            <td><a href="{% url 'movie_delete' pk=movie.pk %}"
                                   onclick="return confirm('If reviews exist for movie, they will be deleted. Are you sure you want to delete?')"
                                   class="btn btn-danger">Delete</a>
                            </td>
                        <td><a href="{% url 'movie_update' pk=movie.pk %}" class="btn btn-primary">Edit Movie</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are no movies currently available on the website.</p>
    {% endif %}
{% endblock %}
