{% extends "catalog/base.html" %}
{% block content %}
    {% csrf_token %}
    <style>
               body{
            background-image: url("/media/image/camera.jpeg");
            background-position: center;
            margin: 0;
            padding: 0;
             color: white;
        }
    </style>
<h1>{{ movie.title }}</h1>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}

        <h4><strong>Director:</strong> <a href="{{ movie.director.get_absolute_url }}">{{ movie.director }}</a></h4>
        <br>
        <p><strong>Description:</strong> {{ movie.description }}</p>
        <li><strong>Runtime:</strong> {{ movie.runtime }}</li>
        <li><strong>Genre:</strong> {{ movie.genre.all|join:", " }}</li>
        <br>
        <br>
        <p><strong><a href="{%  url 'movie_list' %} "> Return to List of Movies </a></strong>
    <br>


    <div>
        <h3 class="text-center">Reviews</h3>
        {% if movie.moviereview_set.exists %}
            {% for review in movie.moviereview_set.all %}
                    <div class="card" style="margin-left:10px;margin-top:10px">
                        <div class="card-body" style="font-family:Georgia">
                            <div class="card-text" style="position:relative;margin-left:5%">
                                <h5>
                                    <a href="{{ review.get_absolute_url }}">{{ review }} <a>
                                </h5>
                                <p style="font-style: italic"> {{review.review_text}} </p>
                            </div>
                        </div>
                    </div>
                    <br>
            {% endfor %}
        {% endif %}
        </div>
        <br>
        <br>
    </div>

{% endblock %}
