{% extends "base.html" %}
{% block content %}

    <h1>Movie Title: {{ movie.title }}</h1>

        <h4><strong>Director:</strong> <a href="{{ movie.director.get_absolute_url }}">{{ movie.director }}</a></h4>
        <br>
        <p><strong>Description:</strong> {{ movie.description }}</p>
        <li><strong>Runtime:</strong> {{ movie.runtime }}</li>
        <li><strong>Genre:</strong> {{ movie.genre.all|join:", " }}</li>

    <div style="margin-left:20px;margin-top:20px">

        <hr>
        <p><strong><a href="{%  url 'movie_list' %} "> Return to List of Movies </a></strong>
        </p>

    </div>

{% endblock %}
